<main class="main">
  <div class="menu">
    <div class="menu-list">メニューリスト
      <h1 class="menu-item">前菜
        <%= link_to image_tag("IMG_0557.jpg", class: :photo) %>
      </h1>
      <h1 class="menu-item">パスタ
        <%= link_to image_tag("IMG_0558.jpg", class: :photo) %>
      </h1>
      <h1 class="menu-item">デザート
        <%= link_to image_tag("IMG_0559.jpg", class: :photo) %>
      </h1>
    </div>
  </div>
</main>