<main class="main">
  <div class="menu">
    <div class="menu-list">メニューリスト
      <% @menu.each do |menu| %>
      <h1 class="menu-image">
        <%= link_to image_tag(menu.image, class: :photo), menu_path(menu.id) %>
        <%= menu.product_name %>
      </h1>
      <% end %>
    </div>
  </div>
</main>